
.registration-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f7f7f7;
  }
  
  .registration-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .registration-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .registration-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding-right: 10px; /* Add some spacing between label and input */
  }
  
  .registration-form input,
  .registration-form textarea,
  .registration-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .registration-form select {
    height: 34px;
  }
  
  .registration-form .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
  
  .registration-form button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  .registration-form button:hover {
    background-color: #0056b3;
  }
  
  /* Media Queries */
  
  /* Tablets and larger */
  @media screen and (min-width: 768px) {
    .registration-container {
      max-width: 800px;
    }
  
    .registration-form {
      margin-top: 30px;
      padding: 30px;
    }
  
    .registration-title {
      font-size: 32px;
      margin-bottom: 30px;
    }
  }
  